twilio >= 6.44.0
python-dotenv >= 0.14.0
google-api-python-client >= 1.10.0
google-auth-httplib2 >= 0.0.4
google-auth-oauthlib >= 0.4.1
numpy >= 1.18.1
"picamera[array]" >= 1.13
opencv-python >= 4.2.0.32
DateTime >= 4.3
python-smbus
i2c-tools

