<meta charset="UTF-8">
<html>
    <head>
        <!-- <script src="https://code.highcharts.com/highcharts.js"></script>
        <script src="https://code.highcharts.com/modules/data.js"></script>
        <script src="https://code.highcharts.com/modules/exporting.js"></script>
        <script src="graph.js"></script> -->
    </head>
    <body>
        <p>{{ message }}</p>
        {% for graph in graphs %}
            <img src={{url_for('static', filename=graph)}} alt='graph'></img>
        {% endfor %}
    </body>
</html>
